<!doctype html>
<html lang="en">
<head>
  <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
  <meta charset="utf8">
  <title><%= "#{@title} | #{SITE_TITLE}" %></title>
  <!-- <link href="/reset.css" rel="stylesheet"> -->
  <link href="/style.css" rel="stylesheet">
</head>
<body>
  <header>
    <hgroup>
      <h1><a href="/"><%= SITE_TITLE %></a></h1>
      <h2><%= SITE_DESCRIPTION %></h2>
    </hgroup>
  </header>

  <div id="main">
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %>>
    <% end %>

    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %>>
    <% end %>
    <%= yield %>
  </div>

  <footer>Contact
    <p><small><a href="https://www.github.com/pezcore343">GitHub</a></small></p>
    <p><small><a href="https://www.twitter.com/pezcore343">Twitter</a></small></p>
  </footer>
</body>
</html>
