<h1><%= @band[0]["band_name"] %></h1>
<h2><%= @band[0]["band_description"] %></h2>

<% @band.each do |show| %>
  <article>
    <%= "<a href='/venues/#{show['venue_id']}'>" %>
      <p><%= show["venue"] %></p>
    </a>
    <p><%= show["show_date"] %></p>
    <p><%= show["zipcode"] %></p>
    <%= "<a href='/shows/#{show["id"]}'>" %>[edit]</a>
  </article>
<% end %>
